# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# --- LaTeX ---
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb

# --- OS / Editor ---
.DS_Store
.vscode/

# -- Others --
*.pdf
